.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.collapse.navbar-collapse{
    justify-content: flex-end;
    text-align: right;
}
.navbar-brand {
    font-size: 50px;
    text-decoration-line: underline;
}
.fa.fa-search    {
    float: left;
    background: #2196F3;
    color: white;
    font-size: 30px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
