body{
    margin: 0;
    padding: 0;
    border-style: 0;
}
.logo {
    padding-top: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: rgb(172, 172, 172);
    width: 100%;
    font-family:'Courier New'
}
.logo h2:hover {
    font-size: 40px;
    color: white;
}
h2{
    margin: 0px;
}
#linka{
    font-size: 20px;
    font-family: bold;
    color: black;
}
#linka:hover{
    color:rgb(172, 172, 172)
}
#sidebar{
    text-align: center;
}
#sidebar input{
    border-radius: 5px;
    border: 1px solid; 
    padding-top: 8px;
}

 

#sidebar button{
    
     background-color: green;
    margin-top: 5px;
   
    cursor: pointer;
    size: 10px;
    color: white; 
   
}
.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
ul {
    list-style: none;
}
.ul :hover {
    color: aqua;
}
p{
    padding: 0px;
}
#address{
    margin-top: 20px;
}
.navbar-brand {
    font-size: 50px;
    text-decoration-line: underline;
}
p{
    margin: 0px;
}
h1{
    text-align: center;
    text-shadow: 2px 4px 4px grey;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa.fa-search {   
    background: #2196F3;
    color: white;
    font-size: 30px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
#eventDefaultShow{
    display: inline-block;
    text-align: center;
}

.show{
    border: 1px solid gray;
    background: rgb(141, 118, 245);
  padding: 5px;
  display: inline-block;
  margin: 10px;
  width: 214px;
  box-shadow: 10px 10px 5px grey;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
   
  }  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  } 
  #section{
      padding: 20px;
  }

  #sidebar{      
      padding-top: 30px;
      text-align: center;
      display: inline-block;
  }
  ul li a {
      font-size: 20px;
      font-family: bold;
  }

  #rightside{
      background-color: gray;
      box-shadow: 10px 10px 10px #333;
  }

  #rightside h6{
      padding: 10px;

  }

  #section{
      padding-left: 60px;
      padding-right: 60px;
  }