.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.collapse.navbar-collapse{
    justify-content: flex-end;
    text-align: right;
    color: gray;
}
<<<<<<< HEAD
   
.footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 15px;

}


=======
.navbar-brand {
    font-size: 50px;
    text-decoration-line: underline;
}
.fa.fa-search {
    float: left;
    background: #2196F3;
    color: white;
    font-size: 30px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
<<<<<<< HEAD
.fa.fa-home {
    color: #2196F3;
    text-decoration-color: lightgray;
}
.btn {
    color: gray;
}
.btn:hover {
    color: lightgray;
}
.input {
    padding-top: px;
    padding-bottom: 5px;
}
.homebutton {
    display: flex;
    position: absolute;
    top: 10px;
    right: 25px;
}
.login-container {
    margin-top: auto;
}
input[type="text"] {
    margin-top: auto;
}
=======
>>>>>>> 4c83afa8eba96dca0b2e7c16db591e0113945b7e
>>>>>>> ae0d7c27c99b7039b1ef6fbc4302fc25aa13c161
